.Home {
   background: url("../img/hero-2.jpg") no-repeat;
   background-size: 100%;
}

.hero {
   text-align: center;
   height: 80vh;
   margin-top: rem;
}

.hero h1 {
   color: #ed553b;
}

.hero h2 {
   color: #20639b;
   margin-top: 1rem;
}

.hero button {
   margin-top: 2rem;
}
