* {
   padding: 0;
   margin: 0;
   box-sizing: border-box
}

body {
   font-family: 'Noto Sans', sans-serif;
}

h1 {
   font-family: 'Noto Serif', serif;
}

h2, h3, h4 {
   font-family: 'Cormorant Garamond', serif;
}

a {
   color: #f6d55c;
   text-decoration: none;
   font-weight: 700;
   transition: color .4s ease-in-out;
}

a:hover {
   color: #ed553b;
}

button {
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 10px;
   margin: .5rem;
   background-color: #20639b;
   color: #fff;
   font-family: 'Cormorant Garamond', serif;
   font-weight: 600;
   font-size: 1.3rem;
   transform: color .4s ease-in-out;
}

button:hover {
   color: #f6d55c;
}

.container {
   margin: 4rem auto;
   width: 980px;

}
