.App {
   background: #fff;
   width: 60rem;
   margin: 6rem auto;
   border-radius: 30px;
   padding: 1rem 3rem;
   display: flex;
}

.call-to-action {
   margin: 4rem auto;
   width: 800px;
   text-align: center;
}

.call-to-action h1 {
   font-size: 5rem;
   font-weight: 800;
   color: #ed553b;
}

.call-to-action p {
   margin-top: 1.25rem;
   font-size: 1.25rem;
}
.call-to-action button {
   margin-top: 4rem;
   padding: 2rem 8rem;
   color: white;
   font-size: 2rem;
}
