
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Raleway', sans-serif;
   background-image: url(./img/geese-background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}

h1, h2, h3, h4 {
   font-family: 'Playfair Display', serif;
   font-weight: 700;
}

a {
   color: #f6d55c;
   font-weight: 700;
   text-decoration: none;
   transition: color .4s ease-out;
   cursor: pointer;
}

a:hover {
   color: #ed553b
}

button {
   border: none;
   padding: 1rem 2rem;
   border-radius: 10px;
   margin: 1rem;
   color: #173f5f;
   font-weight: 600;
   font-size: 1.25rem;
   background-color: #ed553b;
   cursor: pointer;
   transition:
   color .4s ease-in-out,
   background-color .4s ease-in-out;
}

button:hover {
   color: #ed553b;
   background-color: #173f5f;
}

i {
   cursor: pointer;
   transition:
   color .4s ease-in-out,
}

i:hover {
   color: #ed553b;
}
